<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Confirm</title>
</head>
<body>

<h2>hello {{ to_email }}!</h2>
<h3>Plese confirm your account by pressing link below:</h3>
<h3><strong><a href="{{ url_with_token }}">Confirm</a></strong></h3>

</body>
</html>